/* Navigation Bar*/
nav {
	position: fixed;
	text-align: center;
	overflow: hidden;
	background-color: #6495ED;
	top: 0;
	width: 100%;
}

nav a {
	float: none;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	background-color: #005BFF;
}

nav a.active {
	background-color: #005BFF;
}

/*Logo in Index*/
.logo {
	position: absolute;
	overflow: hidden;
	top: 48px;
	left: 20px;
}

.title {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	position: absolute;
	float: left;
	top: 145px;
	left: 280px;
	font-size: 40px;
	color: #6495ED;
	max-width: 100%;
}

#header{
	background-color: #6495ED; 
	font-size: 64px;
	font-weight: bold;
	color: white;
}