#navigation{
	position: fixed;
	background-color: #6495ED;
	width: 100%;
	top: 0%;
}
#navigation ul{
	list-style-type: none;
	overflow: hidden;
	display: inline-block;
}
#navigation ul li{
	float: left;
}
#navigation ul li a{
	color: white;
	text-align: center;
	background-color: #00008B;
	padding: 10px;
	font-size: 32px;
}
#header{
	background-color: #6495ED;
	font-size: 64px;
	font-weight: bold;
	color: white;
}